<% layout('layouts/boilerplate') %>
    <%- include('../partials/navbar.ejs') %>
        <%- include('../partials/flash.ejs') %>


  <h1 class="text-center mb-4 text-white">All Products</h1>
  <div class="row">
    <% products.forEach(product => { %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="<%= product.img %>" class="card-img-top" alt="<%= product.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= product.desc %></p>
            <p class="fw-bold text-white">₹ <%= product.price %></p>
            <a href="/product/<%= product._id %>" class="btn btn-primary w-100">View Details</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

       